.one-webtoon{
    border:2px solid rgb(90, 90, 90);
    width: 670px;
    height: 200px;
    
}

.webimg{
    height: 200px;
    width: 200px; 
    background-color: grey;
}

/* .webtitle{

}

.webwriter{

}

.webplatform{

}

.webkeyword{

} */